[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
rich = "*"
feedparser = "*"
requests = "*"
pydantic = "*"
python-dotenv = "*"
ffmpeg-python = "*"
torch = "*"
faster-whisper = "*"

[dev-packages]

[requires]
python_version = "3.12"
